{{- template "generated" (dict "prefix" "#" "ctx" .) }}
{{ range .aliases -}}
{{- $cmd := "" -}}
{{- if hasKey .to $.chezmoi.os -}}
  {{- $cmd = index .to $.chezmoi.os -}}
{{- else if hasKey .to "default" -}}
  {{- $cmd = .to.default -}}
{{- end -}}
{{- if $cmd }}
alias {{ .from }}='{{ $cmd }}'
{{- end -}}
{{- end }}
