[user]
	name = Logan Bussell
{{- if .is_work }}
	email = loganbussell@microsoft.com
{{ else }}
	email = github@loganbussell.com
{{ end -}}

[init]
	defaultBranch = main

{{- if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
	helper =
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
{{ end -}}
