# Managed by chezmoi
{{ range $name, $cmd := .aliases.common -}}
alias {{ $name }}={{ $cmd | quote }}
{{ end -}}
{{ range $name, $cmd := .aliases.zsh -}}
alias {{ $name }}={{ $cmd | quote }}
{{ end -}}