# Managed by chezmoi
{{ range $name, $cmd := .aliases.common -}}
alias {{ $name }}={{ $cmd | quote }}
{{ end -}}
{{ range $name, $cmd := .aliases.unix -}}
alias {{ $name }}={{ $cmd | quote }}
{{ end -}}
{{ range $name, $cmd := .aliases.bash -}}
alias {{ $name }}={{ $cmd | quote }}
{{ end -}}