#!/bin/bash
set -eufo pipefail

{{- $key := .chezmoi.os }}
{{- if eq .chezmoi.os "linux" }}{{ $key = .chezmoi.osRelease.id }}{{ end }}
{{- $pkgs := index .packages $key }}

{{ if $pkgs -}}
{{ with index $pkgs "apt" -}}
sudo apt-get update
sudo apt-get install -y {{ range . }}{{ . }} {{ end }}
{{ end -}}
{{ with index $pkgs "dnf" -}}
sudo dnf install -y {{ range . }}{{ . }} {{ end }}
{{ end -}}
{{ with index $pkgs "brew" -}}
brew install {{ range . }}{{ . }} {{ end }}
{{ end -}}
{{ end -}}