# Managed by chezmoi.

brew "gh"
brew "gum"
brew "lazygit"
brew "neovim"

cask "copilot-cli"

{{ if and (eq .chezmoi.os "darwin") .gui -}}
brew "mas"

mas "Amphetamine", id: 937984704

cask "1password"
cask "1password-cli"
cask "ghostty"
cask "microsoft-edge"
cask "visual-studio-code"
{{ end -}}

{{ if not .workMachine -}}
cask "codex"
{{ if and (eq .chezmoi.os "darwin") .gui -}}
cask "chatgpt"
{{ end -}}
{{ end -}}
