# Managed by chezmoi.

brew "gum"

cask "copilot-cli"

{{ if not .workMachine -}}
cask "codex"
{{ end -}}

{{ if and (eq .chezmoi.os "darwin") .gui -}}
cask "1password"
cask "1password-cli"
cask "ghostty"
{{ end -}}
