{{- if ne .chezmoi.os "windows" -}}
#!/bin/bash
# scripts hash: {{ .scripts | toJson | sha256sum }}
{{ template "install-package-header" }}

{{ $os := .chezmoi.os -}}
{{ $isWork := .is_work -}}

{{ range $name, $script := .scripts -}}
{{ $install := true -}}
{{ if hasKey $script "os" -}}
  {{ if not (has $os $script.os) -}}
    {{ $install = false -}}
  {{ end -}}
{{ end -}}
{{ if and (hasKey $script "tags") $install -}}
  {{ if and (has "work" $script.tags) (not $isWork) -}}
    {{ $install = false -}}
  {{ end -}}
{{ end -}}
{{ if $install -}}
if {{ $script.check }} >/dev/null 2>&1; then
  log "{{ $name }} is already installed"
else
  log "Installing {{ $name }}"
  {{ if hasKey $script "env" -}}
  {{ range $key, $val := $script.env -}}
  export {{ $key }}={{ $val | quote }}
  {{ end -}}
  {{ end -}}
  /bin/bash -c "$(curl -fsSL {{ $script.url | quote }})"
fi
{{ end -}}
{{ end -}}

# Ensure brew is in PATH for this session
{{ template "brew-shellenv" . }}

log "Prerequisites installed successfully"
{{ end -}}
